@model WebApp.Models.Dtos.LivroDto

@{
    ViewBag.Title = "Emprestar Livro";
    Layout = "_Layout";
}

<h2>Quer emprestar o seguinte Livro?</h2>
<div>
    <table class="table">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => modelItem.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Autor)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => modelItem.Autor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Editora)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => modelItem.Editora)
        </dd>
    </table>
</div>

<!-- Formulário que envia o LivroDto via POST -->
<form asp-action="Emprestar" method="post">
    @Html.AntiForgeryToken()

    @* Campos ocultos que serão postados *@
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="hidden" name="Nome" value="@Model.Nome" />
    <input type="hidden" name="Autor" value="@Model.Autor" />
    <input type="hidden" name="Editora" value="@Model.Editora" />

    <input type="submit" value="Emprestar" class="btn btn-success" /> |
    <a asp-action="List">Voltar</a>
</form>