@using WebApp.Models.Enums
@model WebApp.Models.ViewsModels.ListagemLivroViewModel

@{
    ViewData["Title"] = "List";
}

<!DOCTYPE html>

<html lang="pt-br">
<head>
    <title>Lista de Livros</title>
</head>
<body>
@if (User.IsInRole("Administrador"))
{
    <p>
        <a asp-action="Create">Adicionar livro</a>
    </p>
}
<div>
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Livros[0].Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livros[0].Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livros[0].Editora)
            </th>
            <th>
                Ações
            </th>
            @if (Model.Administrador)
            {
                <th>
                    @Html.DisplayNameFor(model => model.Livros[0].StatusLivro)
                </th>
            }
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Livros)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Autor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Editora)
                </td>
                <td>
                    @if (Model.Administrador)
                    {
                        @Html.ActionLink("Atualizar", "Edit", new { id = item.Id })
                        @: |
                        @Html.ActionLink("Detalhes", "Details", new { id = item.Id })
                        @: |
                        @Html.ActionLink("Excluir", "Delete", new { id = item.Id })
                    }
                    else if (Model.Cliente)
                    {
                        @Html.ActionLink("Detalhes", "Details", new { id = item.Id })
                        @: |
                        if (item.StatusLivro == StatusLivro.Emprestado && Model.LivrosEmprestados.Exists(p => p.Id == item.Id))
                        {
                            <span style="background-color: #f8d7da; color: #721c24; padding: 5px; border: 1px solid #f5c6cb; border-radius: 5px; margin-bottom: 10px;">
                                <strong>Emprestado</strong> 
                            </span>
                            @: |
                            @Html.ActionLink("Devolver", "Devolver", new { id = item.Id })
                        }
                        else if (item.StatusLivro == StatusLivro.Emprestado)
                        {
                            <span style="background-color: #f8d7da; color: #721c24; padding: 5px; border: 1px solid #f5c6cb; border-radius: 5px; margin-bottom: 10px;">
                                <strong>Emprestado</strong> 
                            </span>
                        }
                        else
                        {
                            @Html.ActionLink("Emprestar", "Emprestar", new { id = item.Id })   
                        }
                    }
                </td>
                @if (Model.Administrador)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.StatusLivro)
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>
</div>
</body>
</html>