@model WebApp.Models.Dtos.ClienteDto

@{
    ViewData["Title"] = "Details";
}

<h2>Detalhes do Cliente</h2>
<div>
    <table class="table">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => modelItem.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => modelItem.Cpf)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => modelItem.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => modelItem.Telefone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => modelItem.Status)
        </dd>
    </table>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) | <a asp-action="List">Voltar</a>
</div>

