@model System.Collections.Generic.List<WebApp.Models.Dtos.UsuarioDto>

@{
    ViewData["Title"] = "List";
}

<!DOCTYPE html>

<html lang="pt-br">
<head>
    <title>Lista de Usuários</title>
</head>
<body>
<p>
    <a asp-action="Create">Adicionar usuário</a>
</p>
<div>
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Senha)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model){
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Senha)
            </td>
            <td>
                @Html.ActionLink("Atualizar", "Edit", new {  id=item.Id }) |
                @Html.ActionLink("Excluir", "Delete", new { id=item.Id })
            </td>
        </tr>
        }
        </thead>
    </table>
</div>
</body>
